#canvas{
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    width: 1280px;
}

.column {
    padding-right: 75px;
  }
.dropdown {
    float: left; 
    padding-right: 45px;   
  }
.dropdown2 {
    padding-right: 15px; 
}
.dropdown3 {
  padding-right: 25px; 
}
.dropdown4 {
  padding-right: 30px; 
}

.combined{
  display: flex;
}
  /* Clearfix (clear floats) */
.row {
    content: "";
    clear: both;
    display: table;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    width: 1380px;
  }

.menu {
    content: "";
    clear: both;
    display: table;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    height: 720px;
    width: 100px;
    /*float: left;
    margin-right: 1290px;*/
  }
  .dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.dropbtn2 {
    cursor: pointer;
    border: none;
    width: 40px;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 20px;
  }
.dropbtn3 {
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 10px;
  }
.dropbtn4 {
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 20px;
  }
  .dropbtn5 {
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 20px;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:white;
  }
  
  .dropbtn2:hover, .dropbtn2:focus {
    background-color:white;
  }

  .dropbtn3:hover, .dropbtn2:focus {
    background-color:white;
  }  

  .dropbtn4:hover, .dropbtn2:focus {
    background-color:white;
  }

  .dropbtn4:hover, .dropbtn2:focus {
    background-color:white;
  }    

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  .dropdown3 {
    position: relative;
    display: inline-block;
  }
  .dropdown4 {
    position: relative;
    display: inline-block;
  }
  .column {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content2 b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content3 c {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content4 d {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content5 e {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {background-color: #ddd;}
  .dropdown2 b:hover {background-color: #ddd;}
  .dropdown3 c:hover {background-color: #ddd;}
  .dropdown4 d:hover {background-color: #ddd;}
  .dropdown5 e:hover {background-color: #ddd;}
  
  .show {display: block;}
  .shown {display: block;}
  .show2 {display: block;}
  .show3 {display: block;}
  .show4 {display: block;}

input[type='image'] {
    margin-top: 1rem;
}

input[type='image'] {
    width: 80px;
}

.screen {
  height: 100%;
}

